@use "@assets/mixins.scss" as *;
@use "@assets/variables.scss" as *;

.card-container {
    display: flex;
    flex-direction: column;
    background-color: $background-accent;
    border-radius: pxToRem(12);

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: pxToRem(8);
        padding: pxToRem(20);
        height: 100%;

        .card-caption {
            display: flex;
            flex-direction: column;
            gap: pxToRem(8);
        }
    }
}