@use "@assets/mixins.scss" as *;
@use "@assets/variables.scss" as *;

.nav-drawer {
  .p-drawer-content {
    .nav-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: pxToRem(16);
    
      li {
        a {
          text-decoration: none;
          color: white;

          // &.router-link-active {
          //   color: $aerocat-blue;
          // }
        }

        :deep(.sub-menu) {
          border: none;
    
          .p-menu-list {
            padding: pxToRem(16);
            gap: pxToRem(12);
          }
        }
      }
    }

    .p-button {
      border: none;
      background: transparent;
      margin: 0;
      padding: 0;
      color: white;
    }
  }
}

.app-header-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-header;
  background: $cats-gradient-primary;
  padding: pxToRem(8) pxToRem(24);
  border-bottom: pxToRem(2) solid $terminal-green;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: pxToRem(32);

    @media screen and (max-width: $breakpoint-xs) {
      display: flex;
      justify-content: space-between;
      padding: 0 pxToRem(20);
    }

    a {
      text-decoration: none;
      color: white;
    }

    .logo-container {
      display: flex;
      flex-direction: column;
    
      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }

        .logo-img {
          width: pxToRem(60);
          color: white;
          filter: drop-shadow(0 0 10px var(--p-green-500));
        }

        .logo-text {
          font-size: pxToRem(24);
          @include gradient-text($cats-gradient-accent);
        }
      }

      .status-indicator {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: pxToRem(8);

        .indicator-container {
          position: relative;

          .status-ring {
            border: pxToRem(1) solid $terminal-green;
            border-radius: 50%;
            height: pxToRem(20);
            width: pxToRem(20);
            position: absolute;
            left: pxToRem(-6);
            top: pxToRem(-6);
            animation: pulsate 2s ease-out;
            animation-iteration-count: infinite;
            opacity: 0;
          }

          .status-dot {
            width: pxToRem(8);
            height: pxToRem(8);
            background-color: $terminal-red;
            border-radius: 50%;

            &.active {
              background-color: $terminal-green;
            }
          }
        }

        .status-text {
          color: $terminal-green;
          text-transform: uppercase;
        }
      }
    }

    .header-drawer-container {
      .p-button {
        border: none;
        background: transparent;
        color: var(--p-button-text-secondary-color);
      }
    }

    .nav-links-container {
      display: flex;
      flex-direction: row;

      :deep(.p-menubar-item) {
        &.p-focus {
          background: transparent;
        }

        .p-menubar-item-content:hover {
          background: transparent;
        }

        .p-menubar-item-link:hover {
          .menu-item {
            border-bottom-color: $aerocat-blue;
          }
        }
      }

      .menu-item {
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s ease;
      }

      .p-menubar {
        border: none;
        background: none;
      }
    }
  }
}
