@use "@assets/mixins.scss" as *;
@use "@assets/variables.scss" as *;

.about-the-species-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: pxToRem(32);
    padding-bottom: pxToRem(32);

    @media screen and (max-width: $breakpoint-xs) {
        padding: pxToRem(32);
    }
    
    .species-creators {
        display: flex;
        flex-direction: row;
        gap: pxToRem(16);

        .creator-card {
            width: pxToRem(240);
            overflow: hidden;

            .creator-img {
                width: 100%;
            }
        }
    }

    .section-title {
        font-size: pxToRem(32);
        font-weight: 500;
    }

    .warning-text {
        color: var(--p-red-500);
    }

    .discord-container {
        .discord {
            display: flex;
            gap: pxToRem(16);

            .pi-discord {
                font-size: pxToRem(80);
            }

            .discord-click-container {
                display: flex;
                align-items: center;
                gap: pxToRem(8);

                .click-text {
                    font-size: pxToRem(20);
                }
            }
        }
    }

    .discord-contacts {
        display: flex;
        flex-direction: column;

        .discord-contact {
            display: flex;
            gap: pxToRem(4);
        }
    }
}