@font-face {
    font-family: 'ZTGatha';
    src: url('/src/assets/fonts/ZTGatha-SemiBold.ttf') format('trueType');
}

html {
    height: 100%;
}

body {
    font-family: 'ZTGatha';
    max-width: 1920px;
    margin: auto;
    height: 100%;

    &.modal-open {
        width: 100%;
        overflow: hidden;
    }
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
    }
}