@use "@assets/mixins.scss" as *;
@use "@assets/variables.scss" as *;

.divider {
  background-color: $divider;
  width: 100%;
  height: pxToRem(1);

  &.vertical {
    height: pxToRem(50);
    width: pxToRem(1);
  }
}

.model {
  font-size: pxToRem(18);
  color: $text-secondary;
}

.kpi-container {
  display: flex;
  flex-direction: column;
  gap: pxToRem(8);

  .kpi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .kpi-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .kpi-header {
        font-size: pxToRem(20);
      }

      .kpi-value {
        color: $text-secondary;
        font-size: pxToRem(16);
      }
    }
  }
}
